<div class="card mt-4">
    <h4 class="card-header">Inicio</h4>
    <div class="card-body">
        <p>Token JWT</p>
        <p>Role: <strong>{{user.role}}</strong>.</p>
        <p>Acceso directo <u>a todos los usuarios</u>.</p>
        <p class="mb-1">Current user from secure api end point:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="userFromApi">
            <li>{{userFromApi.firstName}} {{userFromApi.lastName}}</li>
        </ul>
    </div>
</div>